<!DOCTYPE PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN” “https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title></title>
</head>
<body style="margin: 0; padding: 60px 16px;">
  <table role="presentation" style="margin: 0 auto; padding: 0; background: #e5e7eb; width: 100%; max-width: 600px; border: 0; border-spacing: 0; border-collapse: collapse; border-radius: 8px;">
    <tr>
      <td align="center" style="padding: 32px;">
        <img src="https://cloudfilesdm.com/postcards/image-1708086089678.png" width="48">
        <span
          style="display: block; font-family: Helvetica, Arial, sans-serif; font-weight: 700; color: #059f00; font-size: 16px; line-height: 120%; text-align: center; margin-top: 20px;"
        >
          Olá, {{name}}!
        </span>
        <span
          style="display: block; font-family: Helvetica, Arial, sans-serif; font-weight: 700; color: #111827; font-size: 32px; text-align: center; margin-top: 20px;"
        >
          Bem-vindo ao Painel GSafra
        </span>
        <span
          style="display: block; font-family: Helvetica, Arial, sans-serif; font-weight: 400; color: #6b7280; font-size: 16px; text-align: center; margin-top: 32px; line-height: 150%;"
        >
          Alguém realizou a criação de sua conta no Painel GSafra, para finalizar clique no botão abaixo para criar sua senha e começar a utilizar dos nossos recursos.
        </span>
        <a href="{{url}}" target="_blank" rel="noopener noreferrer" style="display: inline-block; font-family: Helvetica, Arial, sans-serif; font-weight: 400; color: #ffffff; font-size: 16px; text-align: center; text-decoration: none; background-color: #059f00; padding: 14px 40px; border-radius: 8px; margin-top: 32px;">
          Criar Senha
        </a>
      </td>
    </tr>
  </table>
</body>
</html>
